.popping-skills {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.pop-relative {
    position: relative;
    height: 100%;
    width: 100%;
}
.bold-text {
    font-size: 7vw;
    font-weight: bolder;
    font-family: "Times New Roman", serif;
    position: absolute;
    filter: grayscale(100%);
    color: black;
}

#bold-text1 {
    top: 10%;
    left: 10%;
    transition: all 1s cubic-bezier(0.1, 3, .2, 3);
}

#bold-text2 {
    bottom: 10%;
    left: 10%;
}

#bold-text3 {
    bottom: 10%;
    right: 10%;
}

#bold-text4 {
    top: 10%;
    right: 10%;
}
