.minimal-content-holder {
    display: none;
    background: white;
    border: 1px solid white;
    border-radius: 50px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
}

.minimal-content-holder-opposite {
    display: none;
    background: white;
    border: 1px solid white;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 50px;
}

.minimal-content-movable {
    display: none;
    background: white;
    border: 1px solid white;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 20px;
}

.first-pane-headers {
    position: relative;
    display: flex;
    justify-content: center;
}

.popper {
    display: none;
    font-size: 14em;
    color: white;
    font-weight: bolder;
}

.profile-list{
    z-index: 2;
    color: black;
    font-size: 1.5rem;
}

#profile, #skills, #profile-info /*#skills_bottom*/
{
    font-size: 3rem;
    z-index: 2;
    color: black;
    text-transform: capitalize;
}

.profile-info, #profile-info {
    font-size: 1.5rem;
}

.profile-info {
    margin: 10px 0;
}

#skills_bottom {
    font-size: 3rem;
    text-transform: capitalize;
}

#down-profile-info {
    padding: 20px;
    position: relative;
    z-index: 4;
    color: black;
}

